name: finki-hub-services-scraper-dev

services:
  scraper:
    build: .
    image: services-scraper-dev:latest
    restart: unless-stopped
    volumes:
      - ./cache:/app/cache
      - ./config:/app/config
      - ./logs:/app/logs
