name: finki-hub-services-scraper-dev

services:
  scraper:
    build:
      context: .
    image: finki-hub/services-scraper:latest
    pull_policy: never
    restart: unless-stopped
    volumes:
      - ./cache:/app/cache
      - ./config:/app/config
      - ./logs:/app/logs
